@import '@unocss/reset/tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  background-color: #FEFEFE;
  font-family: "Archivo", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
}

#app {
  width: clamp(15rem, 108rem, 100%);
  flex: 1 1 auto; 
}
